<span class="post-meta">
    {{ $lastmodstr := default (i18n "dateFormat") .Site.Params.dateformat | .Lastmod.Format }}
    {{ $datestr := default (i18n "dateFormat") .Site.Params.dateformat | .Date.Format }}
    <b>Veröffentlicht am:</b> {{ $datestr | i18n "postedOnDate"}}
    {{ if ne $datestr $lastmodstr }}
      &nbsp;{{ $lastmodstr | i18n "lastModified"  }}
    {{ end }}
    {{ if .Site.Params.readingTime }}
      <b>Lesezeit:</b><!--&nbsp;|&nbsp;<i class="fas fa-clock"></i>-->&nbsp;{{ i18n "readingTime"}}{{ .ReadingTime }}&nbsp;{{ i18n "readTime" }}Minuten
    {{ end }}
    {{ if .Site.Params.wordCount }}
       | <b>Lesezeit</b> {{ .WordCount }}&nbsp;{{ i18n "words" }}
    {{ end }}
    <!--{{ if .Params.author }}
      &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;{{ .Params.author | safeHTML }}
    {{ else }}
      &nbsp;|&nbsp;<i class="fas fa-user"></i>&nbsp;{{ .Site.Author.name | safeHTML }}
    {{ end }}-->
    {{- if .Site.Params.staticman -}}
      &nbsp;|&nbsp;<i class="fas fa-comment"></i>&nbsp;
      {{ $slug := replace .RelPermalink "/" "" }}
      {{ if .Site.Data.comments }}
        {{ $comments := index $.Site.Data.comments $slug }}
        {{ if $comments }}
          {{ if gt (len $comments) 1  }}
            {{ len $comments  }} {{ i18n "moreComment" }}
          {{ else }}
            {{ len $comments  }} {{ i18n "oneComment" }}
          {{ end }}
        {{ else }}
          0 {{ i18n "oneComment" }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ if .IsTranslated -}}
      {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
      {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
      {{- $cleanLinks := apply $links "chomp" "." -}}
      {{- $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") -}}
      &nbsp;&bull;&nbsp;{{ i18n "translationsLabel" }}{{ $linksOutput }}
    {{- end }}
  </span>
  
  